/* Resets (http://meyerweb.com/eric/tools/css/reset/ | v2.0 | 20110126 | License: none (public domain)) */


/* Grid */

	.row {
		border-bottom: solid 1px transparent;
	}

	.row > * {
		float: left;
	}

	.row:after, .row:before {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}

	.row.uniform > * > :first-child {
		margin-top: 0;
	}

	.row.uniform > * > :last-child {
		margin-bottom: 0;
	}

	/* Gutters */

		/* Normal */

			.row > * {
				 padding: (gutters.horizontal) 0 0 (gutters.vertical);
			}

			.row {
				 margin: -(gutters.horizontal) 0 0 -(gutters.vertical);
				 margin-left: 5%;
				 margin-right: 5%;
			}

			.row.uniform > * {
				 padding: (gutters.vertical) 0 0 (gutters.vertical);
			}

			.row.uniform {
				 margin: -(gutters.vertical) 0 0 -(gutters.vertical);
			}

		/* 200% */

			.row.\32 00\25 > * {
				 padding: (gutters.horizontal) 0 0 (gutters.vertical);
			}

			.row.\32 00\25 {
				 margin: -(gutters.horizontal) 0 0 -(gutters.vertical);
				 margin-left: 5%;
				 margin-right: 5%;
			}

			.row.uniform.\32 00\25 > * {
				 padding: (gutters.vertical) 0 0 (gutters.vertical);
			}

			.row.uniform.\32 00\25 {
				 margin: -(gutters.vertical) 0 0 -(gutters.vertical);
			}

	/* Cells */

		.\31 2u, .\31 2u\24, .\31 2u\28 1\29, .\31 2u\24\28 1\29 { width: 100%; clear: none; }
		.\31 1u, .\31 1u\24, .\31 1u\28 1\29, .\31 1u\24\28 1\29 { width: 91.6666666667%; clear: none; }
		.\31 0u, .\31 0u\24, .\31 0u\28 1\29, .\31 0u\24\28 1\29 { width: 83.3333333333%; clear: none; }
		.\39 u, .\39 u\24, .\39 u\28 1\29, .\39 u\24\28 1\29 { width: 75%; clear: none; }
		.\38 u, .\38 u\24, .\38 u\28 1\29, .\38 u\24\28 1\29 { width: 66.6666666667%; clear: none; }
		.\37 u, .\37 u\24, .\37 u\28 1\29, .\37 u\24\28 1\29 { width: 58.3333333333%; clear: none; }
		.\36 u, .\36 u\24, .\36 u\28 1\29, .\36 u\24\28 1\29 { width: 50%; clear: none; }
		.\35 u, .\35 u\24, .\35 u\28 1\29, .\35 u\24\28 1\29 { width: 41.6666666667%; clear: none; }
		.\34 u, .\34 u\24, .\34 u\28 1\29, .\34 u\24\28 1\29 { width: 33.3333333333%; clear: none; }
		.\33 u, .\33 u\24, .\33 u\28 1\29, .\33 u\24\28 1\29 { width: 25%; clear: none; }
		.\32 u, .\32 u\24, .\32 u\28 1\29, .\32 u\24\28 1\29 { width: 16.6666666667%; clear: none; }
		.\31 u, .\31 u\24, .\31 u\28 1\29, .\31 u\24\28 1\29 { width: 8.3333333333%; clear: none; }

		.\31 2u\24 + *, .\31 2u\24\28 1\29 + *,
		.\31 1u\24 + *, .\31 1u\24\28 1\29 + *,
		.\31 0u\24 + *, .\31 0u\24\28 1\29 + *,
		.\39 u\24 + *, .\39 u\24\28 1\29 + *,
		.\38 u\24 + *, .\38 u\24\28 1\29 + *,
		.\37 u\24 + *, .\37 u\24\28 1\29 + *,
		.\36 u\24 + *, .\36 u\24\28 1\29 + *,
		.\35 u\24 + *, .\35 u\24\28 1\29 + *,
		.\34 u\24 + *, .\34 u\24\28 1\29 + *,
		.\33 u\24 + *, .\33 u\24\28 1\29 + *,
		.\32 u\24 + *, .\32 u\24\28 1\29 + *,
		.\31 u\24  + *,  .\31 u\24\28 1\29 + * {
			clear: left;
		}

		.\-11u { margin-left: 91.6666666667% }
		.\-10u { margin-left: 83.3333333333% }
		.\-9u { margin-left: 75% }
		.\-8u { margin-left: 66.6666666667% }
		.\-7u { margin-left: 58.3333333333% }
		.\-6u { margin-left: 50% }
		.\-5u { margin-left: 41.6666666667% }
		.\-4u { margin-left: 33.3333333333%}
		.\-3u { margin-left: 25% }
		.\-2u { margin-left: 16.6666666667% }
		.\-1u { margin-left: 8.3333333333% }