      <div class="row 200%">
        <section class="6u 12u$(small)">
          <form action="{{ url_for('list') }}">
            <button class="icon big rounded fa-list"></button>
          </form>
          <p>Look up a list of domain names.</p>
        </section>
        <section class="4u$ 12u$(small)">
          <form action="{{ url_for('keywords') }}">
            <button class="icon big rounded fa-key"></button>
          </form>
          <p>Enter keywords to look up domain names.</p>
        </section>
      </div>