{% extends "layout.html" %}
{% block content %}

<section class="wrapper style1 align-center">
	<div class="container">
		<form method='post' action="{{ url_for('queue') }}">
			<input type="hidden" name="form_type" value="list">
			<p id="search_text_title">Please input the list of domain names you'd like to search for below.</p>
			
			<p id="search_text_top_small"> Include the extension (e.g., ".com") if you'd like, or select from the extensions below. </br> Please separate each domain name with a comma.</p>
		    <div>
		    	<label id="text_input_label">Domain(s):</label>
			    <input id="text_input" type='text' name='domains_list' placeholder = "site1.com, site2.net">
			</div>
			
			<p id="search_text_bottom">Please choose one or more extensions to search for (optional).</p>
			<div>
				<input type='checkbox' name='extensions' id="com" value="com">
				<label for="com">.com</label>
				<input type='checkbox' name='extensions' id="net" value="net">
				<label for="net">.net</label>
				<input type='checkbox' name='extensions' id="org" value="org">
				<label for="org">.org</label>
				<input type='checkbox' name='extensions' id="gov" value="gov">
				<label for="gov">.gov</label>
				<input type='checkbox' name='extensions' id="edu" value="edu">
				<label for="edu">.edu</label>
				<input type='checkbox' name='extensions' id="io" value="io">
				<label for="io">.io</label>
			</div>
				    	
	    	<input type='submit' value='Submit'>
	    </form>

	</div>
</section>

{% endblock %}